.login-container {
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    background-color: #f0f2f5; 
}

.login-card {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}